:root {
  --body-bg-color: #f2d7d9;
  --card-bg-color: #d3cedf;
  --bg-color: #748da6;
  --border-color: #645caa;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--body-bg-color);
  font-family: 'Hind Guntur', sans-serif;
  max-width: 100vw;
}

/* Header */

header {
  background-color: var(--bg-color);
  padding: 1rem;
}

h1 {
  text-align: center;
  font-family: 'Arapey', serif;
  font-weight: 700;
  font-size: 2.5rem;
}

/* Añadir película */

.add-movie {
  border: none;
  background-color: #645caa;
  color: white;
  border-radius: 0.2em;
  width: fit-content;
  margin: 0.8em;
  padding: 0.5em 1em;
  transition: scale 0.2s;
}

.add-movie:hover {
  cursor: pointer;
  scale: 105%;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.form fieldset {
  background-color: var(--card-bg-color);
  border: none;
  border-radius: .2em;
  padding: 1em 1em 0.2em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.input-container {
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-size: 1.1rem;
}

.form label {
  display: inline-block;
  flex: 1 1 auto;
}

.form input {
  background-color: inherit;
  border: none;
  border-bottom: 1px solid var(--border-color);
  flex: 3 1 auto;
  max-width: 60%;
}

.form input:focus {
  outline: none;
  border-bottom: 2px solid var(--border-color);
}

.form-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form button {
  border: 1px solid #645caa;
  border-radius: 0.2em;
  width: fit-content;
  margin: 0.8em;
  padding: 0.5em 1em;
  transition: scale 0.2s;
}

button:hover {
  cursor: pointer;
  scale: 105%;
}

.form button:disabled {
  border: none;
  background-color: #929295;
  color: #707072;
  cursor: default;
}

.form button:hover:disabled {
  cursor: default;
  scale: none;
}

.f-submit-btn {
  border: none;
  background-color: #645caa;
  color: white;
}

.f-reset-btn {
  background-color: inherit;
}

/* Buscar película */

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-input {
  background-color: var(--card-bg-color);
  width: fit-content;
  padding: 0.5em 1em;
  border: none;
  border-radius: .2em;
}

.search-input:focus {
  outline: none;
}

.search-btn {
  background-color: inherit;
  border: 1px solid #645caa;
  border-radius: 0.2em;
  width: fit-content;
  margin: 0.8em 0.8em 0.8em 0em;
  padding: 0.5em 1em;
  transition: scale 0.2s;
}

/* main */

main {
  max-width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  grid-gap: 1em;
  margin: 1em;
}

.url {
  background-color: var(--card-bg-color);
  color: black;
  text-decoration: none;
  border-radius: 0.4em;
  scale: none;
  transition: scale 0.2s;
}

.card {
  width: auto;
  height: 30em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 1em;
}

.card h2 {
  margin: 0;
  padding: 0;
  height: 3em;
  text-align: center;
  line-height: 2rem;
}

.img-container {
  align-self: center;
  min-height: m;
}

.img {
  border-radius: 0.4em;
}

.year {
  align-self: center;
  width: fit-content;
  height: fit-content;
}

.card p {
  margin: 0;
}

.card > p > span:first-child {
  font-weight: bold;
}

.url:hover {
  scale: 102%;
  transition: scale 0.2s;
}
